.message-form {
    width: 100%;
    background-color: blue;
    position: absolute;
    bottom: 0;
    display: flex;
    
}

.message-form-name {
    width: 30%;
}

.message-form-message {
    width: 50%;
}

.message-form-button {
    width: 20%;
}

.message-form-button:hover {
    background-color: green;
    border: none;
    cursor: pointer;
}