* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#my-doggo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}

.my-doggo-header {
    height: 20vh;
}

.my-doggo-header h1 {
    padding-top: 30px;
}

.my-doggo-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 70vh;
}

.my-doggo-joey {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.my-doggo-mini {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.my-doggo-thor {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.my-doggo-container img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.my-doggo-container p {
    padding-top: 10px;
}

.my-doggo-footer {
    height: 10vh;
}